<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- <h1>LOGIN</h1> -->
  <div class="center" padding text-center>
    <img src="assets/images/invent11.jpg" alt="">

    <div>
      <ion-list>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div>
      <div class="btn-pos">
        <ion-button expand="block" fill="solid" size="medium" (click)="log()">Login</ion-button>
        <ion-button expand="block" fill="outline" size="medium" routerLink="/signup">Sign Up</ion-button>
      </div>
    </div>

    <div class="google">
      <ion-button shape="round" (click)="loginWithGoogle()" >
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Continue with Google
      </ion-button>
    </div>

    <div style="text-align: right;">
      
      <p><span routerLink="reset" (click)="move()">Forgot Password? Click here</span></p>
    </div>

    
    
  </div>
</ion-content>
