<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <div class="d" slot="end">
    
    <ion-buttons ><ion-icon name="exit" routerLink="/home"></ion-icon>
    </ion-buttons>
    </div>
    <ion-title>Main Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list class="center">

    <ion-item routerLink="/inventory">
      <ion-card color="medium">
        <img alt="Silhouette of mountains" src="assets/images/invent12.jpg" />
        <ion-card-header>
          <ion-card-title>Inventory</ion-card-title>
          <ion-card-subtitle>Top of the morning to you Sir Inventory</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          View items in the Inventory
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/add-inventory">
      <ion-card color="medium">
        <img alt="Silhouette of mountains" src="assets/images/addToInvent2.gif" />
        <ion-card-header>
          <ion-card-title>Add to Inventory</ion-card-title>
          <ion-card-subtitle>How do you do, Lady Add 'to Inventory</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         Add items to the Inventory
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/store">
      <ion-card color="medium">
        <img alt="Silhouette of mountains" src="assets/images/shop2.gif" />
        <ion-card-header>
          <ion-card-title>Store</ion-card-title>
          <ion-card-subtitle>Miss Store, How are you</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          View products in the store
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/analytics">
      <ion-card color="medium">
        <img alt="Silhouette of mountains" src="assets/images/analygif.gif" />
        <ion-card-header>
          <ion-card-title>Analytics</ion-card-title>
          <ion-card-subtitle>Greetings Mr Analysis</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Analyse which product is popular
        </ion-card-content>
      </ion-card>
    </ion-item>

    


    
      
  </ion-list>

  

  
</ion-content>