<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="center">

    <ion-item routerLink="/inventory">
      <ion-card>
        <img src="assets/images/invent12.jpg">
        <ion-label class="a">Inventory</ion-label>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/add-inventory">
      <ion-card>
        <img src="assets/images/invent10.jpg">
        <ion-label class="a">Add to Inventory</ion-label>
      </ion-card>     
    </ion-item>

    <ion-item routerLink="/inventory-minus">
      <ion-card>
        <img src="assets/images/invent13.jpg">
        <ion-label class="a">Deliver to Shop</ion-label>
      </ion-card>    
    </ion-item>

    <ion-item routerLink="/analytics" class="c">
      <ion-card >
        <img src="assets/images/analy3.jpg" height="260px" width="260px">
        <ion-label class="a">Analytics</ion-label>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>