<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="center">

    <ion-item routerLink="/inventory">
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/images/invent12.jpg" />
        <ion-card-header>
          <ion-card-title class="a">Inventory</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/add-inventory">
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/images/invent10.jpg" />
        <ion-card-header>
          <ion-card-title>Add to Inventory</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/inventory-minus">
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/images/invent13.jpg"/>
        <ion-card-header>
          <ion-card-title class="a">Move to Store</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item routerLink="/analytics" class="c">
      <ion-card>
        <img alt="Silhouette of mountains" src="assets/images/analy3.jpg" height="260px" width="260px"/>
        <ion-card-header>
          <ion-card-title class="a">Analytics</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-item>
      
  </ion-list>

  
</ion-content>