<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chart-container">
    <canvas #inventoryChartCanvas id="inventoryChartCanvas"></canvas>
    <canvas #storeChartCanvas id="storeChartCanvas"></canvas>
    <canvas #categoryPieChartCanvas id="categoryPieChartCanvas"></canvas>
  </div>
</ion-content>