<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Table to display product details and quantity status -->
  <ion-card>
    <ion-card-header>
      Product Inventory
    </ion-card-header>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th> <b> Item Code </b> </th>
            <th> <b> Item Name </b> </th>
            <th> <b> Size     </b> </th>
            <th> <b> Quantity</b> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inventory">
            <td>{{ item.itemCode }}</td>
            <td>{{ item.itemName }}</td>
            <td>{{ item.size }}</td>
            <td [ngClass]="getQuantityStatusClass(item.quantity)">{{ getQuantityStatus(item.quantity) }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

  <!-- Chart canvas -->
  <ion-card>
    <canvas id="myChart"></canvas>
  </ion-card>
  
  <ion-card>
    <h3><b>Key</b></h3>
    <p>0 = Empty</p>
    <p>15 or less = Low</p>
    <p>More than 10 = Sufficient</p><br>
  </ion-card>

</ion-content>



<!-- <ion-content>
  <div class="chart-container">
    <canvas #inventoryChartCanvas id="inventoryChartCanvas"></canvas>
    <canvas #storeChartCanvas id="storeChartCanvas"></canvas>
    <canvas #categoryPieChartCanvas id="categoryPieChartCanvas"></canvas>
  </div>
</ion-content> -->